<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <script src="angular.min.js"></script>
    <script src="grocery_lab7.js"></script>
    <link rel="stylesheet" href="style4.css">
</head>
<body ng-app="Packages">
    <div ng-controller="Packagesctrl">
        <header>
            <div class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index2.html">Employee Details</a></li>
                    <li><a href="formcookies.html">Cookies</a></li>
                    <li id="login"><a href="formcookies.html">Register</a></li>
                </ul>
            </div>
        </header>
        <br>
        Rows to display:  <input type="number" step="1" min="0" max="6" ng-model="rowlimit"/><br><br>
        Search:  <input type="text" placeholder="Search for item" ng-model="search"><br><br>
        Enter the number of characters:  <input type="text" placeholder="Enter no. of characters" ng-model="limit"><br><br>
        <table>
            <tr>
                <th>Order Item Name
                    <br>
                    <input type="text" ng-model="search.name" placeholder="Search Name">
                </th>
                <th>Date of Stock Filled
                    <br>
                    <input type="text" ng-model="search.doa" placeholder="Search Date">
                </th>
                <th>Location of Store
                    <br>
                    <input type="text" ng-model="search.location" placeholder="Search Location">
                </th>
                <th>Rating of Item
                    <br>
                    <input type="text" ng-model="search.rating" placeholder="Search Ratings">
                </th>
                <th>Price In Rupees
                    <br>
                    <input type="text" ng-model="search.price" placeholder="Search Price">
                </th>
            </tr>
            <tbody>
                <tr ng-repeat="htl in items|limitTo:rowlimit|filter:search">
                    <td>{{htl.name|namefilter:limit}}</td>
                    <td>{{htl.doa|date:"dd/MM/yyyy"}}</td>
                    <td>{{htl.location|uppercase}}</td>
                    <td>{{htl.rating|lowercase}}</td>
                    <td>{{htl.price|number:0}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>